h1 {
    color: blue;
    text-align: center;
}

.lorem {
    background-color: violet;
    font-size: 30px;
    text-align: justify;
    padding: 10%;
}

.container {
    height: 800px;
    background-color: coral;
    padding: 100px;
}

.box {
    height: 100px;
    width: 100px;
    background-color: rgb(200, 0, 255);
    margin: 50px;
}

.box1 {
    background-color: aqua;
    margin: 0;
    margin-left: 100px;
}

.box2 {
    background-color: red;
    margin: 0;
    margin-top: 100px;
}

.box3 {
    background-color: green;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 50px;
}

.box4 {
    background-color: yellow;
    margin: 0;
}

.button {
    width: 400px;
    font-size: 50px;
    background-color: blue;
    color: white;
    /* padding: 20px; */
    text-align: center;
    height: 100px;
    line-height: 100px;
    /* margin: 50px 100px 80px 0px; separately clockwise */
    /* vertical and horizontal */
    margin: 50px 100px;
    /* margin: 50px; each side */
}
