h1{
    color: red;
    text-align: center;
}

.container{
    display: flex;
    background-color: rgb(66, 65, 65);
    height: 300px;
    width: 500px;
    justify-content: space-evenly;
    padding: 10px;
    gap: 10px;


    

}



.container .box1{
    background-color: yellow;
    flex:3 ;
    display: flex;
    flex-direction: column; 
    gap: 10px;
    padding: 10px;
    
} 


.box1-box1{
    background-color: aquamarine;
   flex: 1 ;
}

.box1-box2{
    background-color: brown;
    flex: 3;
}


.container .box2{
    background-color: rgb(231, 207, 140);
    flex: 2;
   
}

.container .box3{

    background-color: red;
    flex: 3;
    display: flex;
    gap: 10px;
    padding: 10px;
    flex-wrap: wrap;

 }

.box3-box1, 
.box3-box2,
.box3-box3, 
.box3-box4,
.box3-box5, 
.box3-box6,
.box3-box7, 
.box3-box8,
.box3-box9, 
.box3-box10,
.box3-box11, 
.box3-box12
{
 flex: 1 0 40px;
background-color: blue;

} 







