h1 {
    color: red;
    text-align: center;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.button-group div {
    display: flex;
    width: 150px;
    height: 40px;
    background-color: rgb(1, 15, 105);
    color: rgb(82, 255, 47);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    border: 3px solid rgb(82, 255, 47);
    /* border-width: 5px; */
    /* border-style: solid; */
    /* border-color: rgb(82, 255, 47); */
    justify-content: center;
    align-items: center;
}

.button-group div:first-child {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.button-group div:last-child {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.button-group div:hover {
    background-color: orange;
    border-color: red;
}
