*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
 
}


h1{
    text-align: center;
    color: red;

}

.content-box{
    box-sizing: content-box;
    color: white;
    background-color:black;
    width: 350px;
    height: 350px;
    padding: 50px;
    border: 15px solid orange;
}


.border-box{
    box-sizing: border-box;
    background-color:black;
    color: white;
    width: 350px;
    height: 350px;
    padding: 50px;
    border: 15px solid orange;
}

h2:first-of-type{
    color: red;
    width: 200px;
    font-size: 1.6rem;
    box-sizing: content-box;
    padding: 20px;
}
h2:last-of-type{
    color: blue;
    width: 200px;
    font-size: 1.6rem;
    box-sizing: border-box;
    padding: 20px;
}