h1 {
    color: blue;
    text-align: center;
}

.container {
    height: 600px;
    background-color: cadetblue;
}

.box1,
.box2,
.box3,
.box4 {
    height: 100px;
    width: 100px;
    margin: 10px auto;
}

.box1 {
    background-color: red;
}

.box2 {
    background-color: green;
}

.box3 {
    background-color: yellow;
}

.box4 {
    background-color: purple;
}
