h1{
    color: red;
    text-align: center;
}

div.container + a{
    color: red;
}

a{
    text-decoration: none;
    display: inline-block;
}




div.container + a::first-letter{
  
    font-size: xx-large;
}