h1 {
    color: violet;
    text-align: center;
    font-size: 3rem;
}

section h2 {
    font-size: 2rem;
}

section p {
    font-size: 2rem;
    text-align: justify;
}

.parallax-container {
    height: 500px;
    background-image: url("../img/kena2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}
